.column{
margin: auto;
float: left;
  width: 33.33%;
		height: 310px;
		  text-align: center;
}

.row {
	margin: auto;
	max-width: 935px;
	height: 310px;
	  text-align: center;
}
.header {
	margin: auto;
	max-width: 935px;
	width: 50%;
	margin-top: 100px;
	height: 200px;
}

.avatar {
	float: left;
	width: 33.33%;
}
.avatar img{
    border-radius: 50%;
}

.username{
font-family: verdana;
font-size: 28px;
float: left;
	width:66%;
}

.bio {
	font-family: verdana;
	font-size: 14px;
	float: left;
	width:66%;
}

@media screen and (min-width: 620px) {
  .column {
    width: 50%;
  }
	.header{
		width: 100%;
	}
	.avatar {
		float:left;
		width:33%;
	}
}

@media screen and (min-width: 935px) {
	.column{
	margin: auto;
	float: left;
	  width: 33.33%;
			height: 310px;
			  text-align: center;
	}

	.row {
		margin: auto;
		max-width: 935px;
		height: 310px;
		  text-align: center;
	}
	.header {
		margin: auto;
		max-width: 935px;
		width: 50%;
		margin-top: 100px;
		height: 200px;
	}
	.avatar {
		float: left;
		width: 33.33%;
	}
	.avatar img{
	    border-radius: 50%;
	}

	.username{
	font-family: verdana;
	font-size: 28px;
	float: left;
		width:66%;
	}

	.bio {
		font-family: verdana;
		font-size: 14px;
		float: left;
		width:66%;
	}
}


@media screen and (max-width: 620px) {
	.column {
		width: 100%;
	}
	.header{
		width: 100%;
		text-align: center;
	}
	.bio{
		visibility: hidden;
	}
	.avatar{
		float: none;
		width: 100%;
		margin: auto;
	}
	.username{
		float:none;
		width: 100%;
		font-size: 20px;
	}
}
